# Latest version of Erlang/OTP see: https://git.io/Je5k6
erlang_version=24.1

# Latest Elixir Version see: https://github.com/elixir-lang/elixir/releases
elixir_version=1.12.3

# Always rebuild from scratch on every deploy?
always_rebuild=false

# Set the path the app is run from
runtime_path=/app

# Invoke assets.deploy defined in your mix.exs to deploy assets with esbuild
# Note we nuke the esbuild executable from the image
hook_post_compile="eval mix assets.deploy && rm -f _build/esbuild*"